{% load staticfiles %}
{% load newcart_template_tags%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BoozeCart</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/base.css' %}">
    {% block styles %}
    {% endblock %}

</head>
<body>
<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

    <div class="container-fluid">
        <a class="navbar-brand" href = "{% url 'landing-home' %}">
            <img src="{% static 'images/logo2.png' %}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

             {% if user.is_authenticated %}
             <a class="btn btn-outline-success mr-5" href="{% url 'item-list' %}">

                 <i class="fas fa-shopping-cart"></i>
                <span>{{request.user|cart_item_count}}</span>
             </a>

                <a class="btn btn-warning mr-2" href="{% url 'post-create' %}">Add New Item</a>
                <a class="btn btn-success mr-2" href="{% url 'profile' %}">Profile</a>
                <a class="btn btn-danger " href="{% url 'logout' %}">Logout</a>

                 <li class="nav-item">
            </li>
              {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'landing-landing' %}">Home</a>
            </li>
                <li class="nav-item">
                <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-primary mr-2">Register</button></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-success">Sign In</button></a>
            </li>
              {% endif %}
        </ul>
    </div>
</nav>

</header>
    <main class="container">
      <div class="row">
        <div class="col-md-11">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    </div>



</body>
<script>

    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('.alert').fadeOut('slow');
        }, 2000); // <-- time in milliseconds, 1000 =  1 sec

    });
</script>
</html>