
.navbar {

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


.media{
    margin-top:10px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}